.navbar {
  width: 100%;
  height: 50px;
  background: #444444;
  .navbar-inner {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    .logo {
      display: inline-block;
      float: left;
      margin-top: 10px;
      width: 120px;
      height: 28px;
      img {
        width: 100%;
      }
    }
    .search {
      position: relative;
      float: left;
      margin-left: 20px;
      width: 234px;
      height: 28px;
      input {
        width: 100%;
        margin-top: 12px;
        height: 100%;
        background: #666;
        border-radius: 15px;
      }
      img {
        position: absolute;
        top: 18px;
        left: 5px;
      }
    }
    .nav {
      float: right;
      height: 50px;
      line-height: 50px;
      a {
        color: #ccc;
        font-size: 14px;
        padding: 0 15px;
        &:hover {
          color: white;
        }
        span {
          background: #80BD01;
          color: white;
         padding: 3px 5px;
          -webkit-border-radius: 10px;
          margin-right: 5px;
        }
      }
    }
  }
}